.cinza{
    border-radius: 1000px;
    width: 250px;
    height: 250px;
}
   
.cachorro1{
    display: inline-block;
    width: 300px;
    
}

.cachorro2{
   display: inline-block;
}

.cachorro3{
   display: inline-block;

}

.cachorro4{
    display: inline-block;
}

.cachorro5{
    display: inline-block;
}


